<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="https://cdn.glitch.com/e7c87df7-a3a2-4015-badb-3fc7ed252d31%2Ffavicon.ico?1555997559456" type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
      <title>Commands - monkey Discord Bot</title>
  </head>
  <body>
    <h1>
      Commands (Prefix: m!)
    </h1>
    <a href="/">Go Back</a>
    <p>
      <ul>
        <li><b>help</b> - Displays this link</li>
        <li><b>about</b> - Display everything about the bot</li>
        <li><b>ping</b> - Very straightforward</li>
        <li><b>avatar</b> - Gets the link to your avatar</li>
        <li><b>say</b> - Make the bot say whatever you want the bot to say
          <p>
          Usage: say <b>(arguments)</b>
          </p></li>
        <li><b>monkey</b> - Get a random monkey gif</li>
        <li><b>yesno</b> - Make the monkey decide everything for you</li>
        <li><b>count</b> - Useless command that counts how many times it is used (for the session only, may reset whenever)</li>
        <li><b>subcount</b> - Shows the subscriber counts of channels that are associated with Edgy Kids (using YouTube API)</li>
        <li><b>subbattle</b> - Shows the current statistics of the PewDiePie vs T-Series sub race (using YouTube API)</li>
        <li><b>math</b> - Does some math. 
          <p>
            Usage: math <b>(first number) (operand) (second number)</b> [Make sure to add spaces in between]
          </p></li>
        <li><b>upsidedown</b> - Turns your sentence upside down. 
          <p>
          Usage: upsidedown <b>(arguments)</b>
          </p></li>
        <li><b>bubble</b> - Bubblifies your sentence.<p>
          Usage: bubble <b>(arguments)</b>
          </p></li>
    </ul>
    </p>
  </body>
</html>