<!DOCTYPE html>
<html>
  <head>
    <title>monkey Discord Bot</title>
    <link rel="shortcut icon" href="https://cdn.glitch.com/e7c87df7-a3a2-4015-badb-3fc7ed252d31%2Ffavicon.ico?1555997559456" type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Monkey</h1>
    <hr>
    <p>
      Monkey is a fun Discord bot developed in <a href="https://discord.js.org/">discord.js</a>.
    </p>
    <p>
      Click the monkey below to add the bot:
    </p>
    <a href="https://discordapp.com/api/oauth2/authorize?client_id=568990723878420480&permissions=339008&scope=bot">
    <img src="https://cdn.glitch.com/e7c87df7-a3a2-4015-badb-3fc7ed252d31%2Fmonkey.png?1555858604584" alt="monkey">
    </a>
    <a href="/commands">
      <p>
        Commands
      </p>
    </a>
  </body>
</html>